{% extends "layout.html" %}

{% block header_title %}
| {{ header_title }}
{% endblock %}

{% block body %}
<h1 class="page-title">{{ title }}</h1>
<div>
  {% if movies is not none %}
  <div class="row">
    {% for movie in movies %}
    <div class="movie-card-outer col-xl-4 col-md-6">
      <div class="movie-card">
        <a href="/movie/{{ movie[0].id }}">
          <div class="movie-card-inner">
            <div class="text-center poster-image">
              <img src="{{ movie[1] }}" alt="{{ movie[0].title }} poster">
            </div>
            <div class="text-left poster-description">
              <h3>{{ movie[0].title }}</h3>
              <span class="movie-card-year">{{ movie[2] }}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  {{ error }}
  {% endif %}
</div>
{% endblock %}
